<div id="leftHover" class="scroll-hover">
    <div id="leftScroll" class="scroll"></div>
</div>
<div id="rightHover" class="scroll-hover">
    <div id="rightScroll" class="scroll"></div>
</div>

<svg id="canvas" class="canvas" width=100% height=100%></svg>