<div id="api"></div>
<div class="modal fade" id="test_modal" data-toggle="modal" data-target="#test_modal">
  <div class="modal-header">
  </div>
  <div class="modal-body span5">
    <div class="row-fluid">
      <div class="span4">
        <img id="modal-image" src=""></img>
      </div>
      <div class="span8">
        <ul>
          <strong><li id="modal-name">information</li></strong>
          <li id="modal-album">stuff</li>
          <li id="modal-artist">things</li>
        </ul>
      </div>
    </div>
    <hr class="break">
    <div class="row-fluid">
      <div class="span8">
        <ul class="statistics">
          <li id="modal-first-listen"><strong>First Listen:</strong> 3/19/2012</li></strong>
          <li id="modal-total-listens"><strong>Total Listens:</strong> 62</li>
          <li id="modal-artist"><strong>Most Listens in a Day:</strong> 4</li>
        </ul>
      </div>
      <div class="span4">
        <img src=""></img>
      </div>
    </div>
  </div>
  <div class="modal-footer">
  </div>
</div>

<%= image_tag 'arrow_button_left.png',  :id => "leftScroll",  :class => "scroll" %>
<%= image_tag 'arrow_button_right.png', :id => "rightScroll", :class => "scroll" %>
<svg id="canvas" class="canvas" width=100% height=100%></svg>