<li class="media">
  <a class="pull-left" href="#">
    <img class="media-object" src="{{image.1.content}}">
  </a>
  <div class="media-body">
    <h4 class="media-heading">{{name}} - {{artist.content}}</h4>
  </div>
  <div>
  	<i class="icon-play"></i>
  	<i class="icon-stop"></i>
  	<span class="play-time">00.00</span>
  </div>
  <div class="time-info">
    <span><em>at {{playedTime}}<em></span>
  </div>
</li>