<li class="media">
  <a class="pull-left" href="#">
    <img class="media-object" src="<%= image["1"].content %>">
  </a>
  <div class="media-body">
    <h4 class="media-heading"><%= name %> - <%= artist.content %></h4>
  </div>
  <div class="play-button">
    <i class="icon-play"></i>
  </div>
</li>