<div class="container">
	<div id="main" class="row-fluid">
		<div class="span6 offset3">
			<div id="question">
				<h1>What were you listening to on</h1>
				<h1><%= date %>?</h1>
			</div>
			<div>
				<form id="user-form" class="form-inline">
					<input id="input-huge" type="text" placeholder="Last.fm Username">
				</form>
			</div>
		</div>
	</div>
</div>