
<!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="assets/slide-01.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.carousel -->

<div class="container login-form">
	<div id="main" class="row-fluid">
		<div class="span6 offset3">
			<div id="question">
				<h1>What were you listening to on</h1>
				<h1>{{date}}?</h1>
			</div>
			<div>
				<form id="user-form" class="form-inline">
					<input id="input-huge" type="text" placeholder="Last.fm Username">
				</form>
			</div>
		</div>
	</div>
</div>