
<div class="container">
	<div class="row">
		<div class="span8">
			<div id="question">
				<h1>What were you listening to on <%= date %> ?</h1>
			</div>
			<div>
				<form id="user-form" class="form-inline">
					<input id="input-huge" type="text" placeholder="Last.fm Username">
				</form>
			</div>
		</div>
	</div>
</div>