// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com

// font-family: 'Roboto Condensed', sans-serif;

body {
  background: url(background.jpg);
  background-repeat:no-repeat;
  background-attachment:fixed; 
}

#main 
{
  margin-top: 180px;
}

#input-huge
{
	height: 50px;
	width: 100%;
	border: 1px solid #999999; 
	padding: 5px;
	font-size: 30px;
	line-height: 1;
}

#question h1
{
  text-align: center;
  color: #eee;
  text-shadow: #000 0 1px 2px;
}

#branding h1
{
  color: #eee;
  font-size: 60px;
  text-shadow: #000 0 1px 2px;
  vertical-align: center;
  padding-top: 9px;
}

#branding
{
  //hardcoded values for branding
  background-color: black;
  
  width: 304px;
  height: 64px;
  
  margin-left: 10px;
  //margin-right: auto;
  //position: fixed;
}

#spinner-location
{
  display: none;
}

body {
    background-color: black;
}

.scroll {
    position: absolute;    
    top: 95%;
    width: 50px;
    height: 50px;
    z-index: 1;
}

#leftScroll {
    left: 2.5%;
}

#rightScroll {
    right: 2.5%;
}

.tileText {
    fill: #FFFFFF;
}

.canvas {
    z-index: -1;
}

.popover {
    z-index: 4;
}

div .popover-content{
    padding-top: 0px;
}

div .modal
{
  border-bottom: none;
  border-bottom-style: none;
}

tile { }

tile { }